<div class="note-wrapper">
  <div class="note-content">
    <div class="notes-header">
      <h1 title="Notes">Tweeted Notes</h1>
      <input type="search" ng-model="searchTerm"/><label>Search</label>
    </div>

    <div class="note-wrapper">
      <a class="card-notes" ng-repeat="note in notes|filter:{tweeted:true}" ng-href="#/notes/{{note.id}}">
        <div class="card" title="{{note.title}}">
          <h2 class="h3">{{note.title}}</h2>
        </div>
      </a>
    </div>
  </div>
</div>
<!--On the notes tweeted page, within the tweeted.html template, use filter to display only notes that have been tweeted (i.e., having a tweeted property set to true).-->
